body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/116/638/original/background.jpg?1708895116");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "DM Sans", sans-serif;
}

main {
  margin-top: 30px;
}

.weather-app {
  background: rgb(31, 36, 61, 0.9);
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.search-form-input {
  background: #312d49;
  border: none;
  width: 80%;
  border-radius: 8px;
  padding: 15px 20px;
  font-size: 16px;
  color: whitesmoke;
}

.search-form-button {
  background: #312d49;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  color: rgb(245, 245, 245, 0.8);
  margin-left: 10px;
  font-size: 16px;
}

.search-form-button:hover {
  cursor: pointer;
  transition: all 200ms ease-in-out;
  background: rgb(31, 36, 61, 0.9);
}

.weather-app-content {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 30px 20px;
}

.weather-app-city {
  margin: 0;
  font-size: 50px;
}

.weather-app-info {
  line-height: 25px;
}

.weather-app-info-day {
  font-size: 22px;
  font-weight: 300;
  color: rgb(181, 115, 158);
}

.weather-app-info em {
  font-size: 16px;
  line-height: 20px;
  color: rgb(245, 245, 245, 0.8);
}

.temperature-container {
  display: flex;
}

.temperature-number {
  font-size: 88px;
}

.temperature-value {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
}

.temperature-icon {
  font-size: 50px;
  margin-top: 22px;
  margin-left: 10px;
}

footer {
  font-size: 11px;
  text-align: center;
  margin: 30px 0 10px 0;
  color: rgb(245, 245, 245, 0.8);
}

footer a {
  color: rgb(181, 115, 158);
  text-decoration: none;
}
